//////////////////////////////
// Config
//////////////////////////////

// Colors
$black: #3a3427
$gray:  #C0B5A1
$brown: #E4C178
$white: #fdfdfc
$green: #9EC23B
$blue:  #33ADDD
$orange: #F89B4D

// Sizes
$bs: 15px
$small: 500px
$medium: 750px
$large: 1000px
$huge: 1300px


//////////////////////////////
// Typography
//////////////////////////////
$fallbacks: "Helvetica Neue","Lucida Grande","Lucida Sans",Arial,sans-serif
$fallbacks-mono: "SF Mono Pro","SF Mono",Cousine,Courier,Consolas,monospace

=normalize
  font-weight: normal
  font-style: normal
  text-rendering: optimizeLegibility
=fedra
  font-family: "Fedra Sans Screen Regular",$fallbacks
  +normalize
=fedra-bold
  font-family: "Fedra Sans Screen Bold",$fallbacks
  +normalize
=fedra-italic
  font-family: "Fedra Sans Screen Italic",$fallbacks
  +normalize
=fedra-bold-italic
  font-family: "Fedra Sans Screen Bold Italic",$fallbacks
  +normalize
=irma-light
  font-family: "Irma Slab Light",Georgia,Courier,monospace
  +normalize
=irma-medium
  font-family: "Irma Slab Medium",Georgia,Courier,monospace
  +normalize
=fedra-mono
  font-family: "Fedra Mono Screen Regular",$fallbacks-mono
  +normalize
=fedra-mono-bold
  font-family: "Fedra Mono Screen Bold",$fallbacks-mono
  +normalize
  font-weight: bold
=fedra-mono-italic
  font-family: "Fedra Mono Screen Italic",$fallbacks-mono
  +normalize
  font-style: italic
=fedra-mono-bold-italic
  font-family: "Fedra Mono Screen Bold Italic",$fallbacks-mono
  +normalize
  font-weight: bold
  font-style: italic

=green-hover
  &:hover
    color: darken($green, 6%)
