/* @override http://192.168.1.77/profile.css */

/*
    Default Body
------------------------------------------------------ */ 
body {
 margin:            0;
 padding:           0;
 font-family:       'lucida grande', verdana, tahoma, sans-serif;
 font-size:         11px;
 color: #000;
 background-color:  #fff;
}
/*
    Default Links
------------------------------------------------------ */ 
a {
 text-decoration:   none;
 color:             #3381ff;
 background-color:  transparent;
}

a:hover {
 color:             #A0A4C1;
 text-decoration:   underline;
 background-color:  transparent;
}

/*
    Main Content Wrapper
------------------------------------------------------ */ 
#content {
 left:              0px;
 right:             10px;
 margin:            15px 20px 0 20px;
 padding:           0;
 width:             auto;
}
* html #content {
 width:             100%;
 w\idth:            auto;
}

/*
    Basic stuff
------------------------------------------------------ */ 

p {
 background:		transparent;
 font-family:       'lucida grande', verdana, tahoma, sans-serif;
 font-size:         11px;
}

.default, .defaultBold, .defaultRight, .defaultCenter {
 background:		transparent;
 font-family:       'lucida grande', verdana, tahoma, sans-serif;
 font-size:         11px;
}

.defaultBold {
 font-weight: bold;
}

.defaultRight {
 text-align: right;
}

.defaultCenter {
text-align: center;
}

.header {
 color:             #fff;
 padding:           5px;
 border:            1px solid #7B81A9;
 margin: 			0 0 10px 0;
}

h1 {  
 font-family:		georgia, serif;
 font-size: 		15px;
 font-weight:		bold;
 letter-spacing:	.05em;
 color:				#fff;
 margin: 			0;
 padding:			0;
}

h2 {
 background:		transparent;
 font-family:       'lucida grande', verdana, tahoma, sans-serif;
 font-size:         13px;
 color:             #000;
 margin:			0 0 5px 0;
}

h3 {
 background:		transparent;
 font-family:       'lucida grande', verdana, tahoma, sans-serif;
 font-size:         12px;
 color:             #000;
 margin:			3px 0 3px 0;
}

.lighttext {
 font-family:       'lucida grande', verdana, tahoma, sans-serif;
 font-size:         10px;
 color:             #73769D;
 padding:           4px 0 2px 0;
 background-color:  transparent;  
}

.success {
 font-family:		'lucida grande', verdana, tahoma, sans-serif;
 font-size:			11px;
 color:				#009933;
 font-weight:		bold;
 padding:			3px 0 3px 0;
 background-color:	transparent; 
}

/*
    Page Header 
------------------------------------------------------ */ 

#pageheader {  
background: url(../images/footer-bg.gif) repeat-x 0 bottom; 
	padding: 20px 0;
	text-transform: lowercase;
}

.heading {  
 font-family:		'lucida grande', verdana,tahoma,sans-serif;
 font-size: 		2em;
 font-weight:		bold;
 color:				#fff;
 padding:			0 0 0 28px;
	letter-spacing: -1px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
}

.heading a {
	position: absolute;
	right: 23px;
	top: 9px;
	border: 0;
}


/*
    Sub-header Bar
    Contains the breadcrumb links
------------------------------------------------------ */ 
#subheader {
 padding: 5px 11px 5px 27px;
background: url(../images/topbar-bg.gif) repeat-x; 
color: #aaa;
}

#subheader a {
	color: #aaa;
}

#subheader .defaultBold a {
	color: white;
}

/*
    Breadcrumb Links
------------------------------------------------------ */ 
.breadcrumb {  
 background-color:  transparent;
 font-family:       'lucida grande', verdana, tahoma, sans-serif;
 font-size:         11px;
 margin:			3px 0 3px 0;
}
.breadcrumb a:link { 
 text-decoration:   none;
} 
.breadcrumb a:visited { 
 background:        transparent;
 text-decoration:   none;
}
.breadcrumb a:hover { 
 color:             #B9BDD4;    
 background:        transparent;
 text-decoration:   underline;
}

.currentcrumb {
 color: white;
 font-weight: bold;
}
.breadcrumbspacer {
 color:  #6B6B85;
}

/*
    Misc. Formatting Items
------------------------------------------------------ */ 

.spacer {
 margin-bottom:     12px;
}

.itempad {
padding: 2px 0 2px 0;
}

.itempadbig {
padding: 5px 0 5px 0;
}

.bottompad {
padding: 0 0 2px 0;
}
.marginpad {
 margin: 12px 0 10px 3px;
 background: transparent;
}

.leftpad {
padding: 0 0 0 4px;
}

/*
    Member Profile Page
------------------------------------------------------ */ 

.profileHeadingBG {
 background: 		#000;
 color:             #fff;
 padding: 5px 5px 5px 5px;
}

.profileAlertHeadingBG {
 background: #cf0003}bg_alert.jpg) repeat-x left top;
 color:				#fff;
 padding:			5px 5px 5px 5px;
 border-bottom:		#585C9C 1px solid;
}

.profileTopBox {
 background:	#F0F0F2 url({path:image_url}bg_profile_box.jpg) repeat-x left top;
 margin:		0;
 padding:		7px 5px 5px 5px;
}

.profileTitle {
 font-family:		Tahoma, 'lucida grande', verdana, Geneva, Trebuchet MS, Arial, Sans-serif;
 font-size:			14px;
 font-weight:		bold;
 color:				#000;
 padding: 			3px 5px 3px 0;
 margin:			0;
 background-color: transparent;  
}

.profilePhoto {
 background:		#F0F0F2 url({path:image_url}bg_profile_box.jpg) repeat-x left top;
 border-left:       1px solid #B2B3CE;
 padding:			1px;
 margin-top:        1px;
 margin-bottom:     3px;
}

.avatar {
 background:	transparent;
 margin:		3px 14px 0 3px;
}

.photo {
 background:	transparent;
 margin:		5px 14px 0 3px;
}

.profileItem {
 background:		transparent;
 font-family:       'lucida grande', verdana, tahoma, sans-serif;
 font-size:         11px;
 color:             #000;
 margin: 			2px 0 2px 0;
 background-color: transparent;  
}

.profileHead {
 font-family:		'lucida grande', verdana, tahoma, sans-serif;
 font-size:			10px;
 font-weight:		bold;
 text-transform:	uppercase;
 color:				#fff;
 padding: 5px 4px 5px 5px;
 margin:			0 0 0 0;
	background-color: #6c6c6c;
	letter-spacing: 1px;
	word-spacing: 2px;
}

.menuHeadingBG {
 background: 		#000;
 color:             #fff;
 padding: 5px 5px 5px 5px;
}

.profileMenu {
 background: 		#EDECEE;
 padding:			1px;
 margin-top:        1px;
 margin-bottom:     3px;
}

.profileMenuInner {
 margin-bottom:		4px;
 margin-top:		4px;
}

.menuItem {
 font-family:		'lucida grande', verdana, tahoma, sans-serif;
 font-size:			11px;
 background-color:	transparent;
	text-transform: lowercase;
}

.menuItem a {
	display: block;
	padding-left: 5px;
	padding-right: 5px;
	line-height: 2;
}

.borderTopBot {

}

.borderBot {
}

.altLinks { 
 background:        transparent;
 font-family:       'lucida grande', verdana, tahoma, sans-serif;
 font-size:         11px;
 color: white;
}
.altLinks a:link { 
 background:        none;
 text-decoration:   underline;
 color: #fff;
}
.altLinks a:visited { 
 background:        transparent;
 text-decoration:   none;
}
.altLinks a:hover { 
 color: #ededed;    
 background:        transparent;
 text-decoration:   none;
}


.memberlistRowOne {
 background: #FBFBFC url({path:image_url}bg_table_td_one.jpg) repeat-x left top;
 font-family:       'lucida grande', verdana, tahoma, sans-serif;
 font-size:         11px;
 color:             #000;
 padding:           3px 5px 3px 5px;
 border-top:        1px solid #fff;
 border-bottom:     1px solid #B2B3CE;
 border-left:       1px solid #B2B3CE;
 border-right:      1px solid #fff;
}
.memberlistRowTwo {
 background: #F0F0F0 url({path:image_url}bg_table_td_two.jpg) repeat-x left top;
 font-family:       'lucida grande', verdana, tahoma, sans-serif;
 font-size:         11px;
 color:             #000;
 padding:           3px 5px 3px 5px;
 border-top:        1px solid #fff;
 border-bottom:     1px solid #B2B3CE;
 border-left:       1px solid #B2B3CE;
 border-right:      1px solid #fff;
}

.memberlistHead {
 font-family:		'lucida grande', verdana, tahoma, sans-serif;
 font-size: 		11px;
 font-weight: 		bold; 
 background: 		#000;
 color:             #fff;
 border-bottom:     #585C9C 1px solid;
 padding: 			8px 0 8px 8px;
}

.memberlistFooter {
 font-family:       'lucida grande', verdana, tahoma, sans-serif;
 font-size:         11px;
 color:             #000;
 padding:           5px 10px 5px 5px;
 border-top:        1px solid #fff;
 border-bottom:     1px solid #999;
 border-right:      1px solid #fff;
 background-color: #d1d1d1;  
}

.innerShade {
 background-color:	#DDE1E7;
 border:      	 	1px solid #000;
 margin:			0;
 padding:			10px;
}

/*
    Table Formatting
------------------------------------------------------ */ 

.tablePad {
 padding:  0 2px 4px 2px;
}

.tableborder {

 padding:			1px;
 margin-top:        1px;
 margin-bottom:     3px;
}
.tableBorderTopRight {
 border-top:     	1px solid #B2B3CE;
 border-right:     	1px solid #B2B3CE;
 padding:			0;
 margin-top:        1px;
 margin-bottom:     3px;
}
.tableBorderRight {
 border-right:      1px solid #B2B3CE;
 padding:			0;
 margin-top:        1px;
 margin-bottom:     3px;
}

.tableBG {
 background-color: #F0F0F0;
}
.tableHeadingBG {
 background: 		#000;
 color:             #fff;
 padding:           5px 5px 5px 5px;
}
.tableHeading {
 font-family:       'lucida grande', verdana, tahoma, sans-serif;
 font-size:         12px;
 font-weight:		bold;
 color:             #fff;
 padding:           0;
 margin:			0;
 background-color:  transparent;  
}
.tableRowHeading, .tableRowHeadingBold {
 background: #c2c2c2;
 font-family:       'lucida grande', verdana, tahoma, sans-serif;
 font-size:         11px;
 color:             #000;
 padding:           8px 10px 8px 5px;
}
.tableRowHeadingBold {
font-weight: bold;
}
.tableCellOne, .tableCellTwo {
 background: #EDEEF3;
 font-family:       'lucida grande', verdana, tahoma, sans-serif;
 font-size:         11px;
 color:             #000;
 padding: 5px;
 border-top: 2px solid white;
}

/*
    Pagination Links
------------------------------------------------------ */ 
.paginateBorder {
 background-color:  transparent;
 border-top:        1px solid #7B81A9;
 border-right:      1px solid #7B81A9;
 border-bottom:     1px solid #7B81A9;
 }
.paginate {
 background: 		#FBFBFC url({path:image_url}bg_table_td_one.jpg) repeat-x left top;
 font-family:       'lucida grande', verdana, tahoma, sans-serif;
 font-size:         11px;
 color:             #000;
 border-right:      1px solid #fff;
 border-left:      	1px solid #7B81A9;
 padding:           2px 4px 2px 4px;
 margin:		 	0;
 }
.paginateStat {
 background: 		#000;
 font-family:       'lucida grande', verdana, tahoma, sans-serif;
 font-size:         11px;
 color:             #fff;
 border-left:      	1px solid #7B81A9;
 padding:           2px 10px 2px 10px;
 margin:			0;
 white-space: 		nowrap; 
 }
.paginateCur {
 background: 		#FBFBFC;
 font-family:       'lucida grande', verdana, tahoma, sans-serif;
 font-size:         11px;
 color:             #ccc;
 border-left:      	1px solid #7B81A9;
 padding:           2px 5px 2px 5px;
 margin:			0;
 }

/*

    Form Field Formatting
------------------------------------------------------ */ 

form {
 margin:            0;
 padding:           0;
 border:            0;
}
.hidden {
 margin:            0;
 padding:           0;
 border:            0;
}
.input {
 color:             #333;
 border: 1px solid gray;
font: 11px/22px 'lucida grande', verdana, tahoma, sans-serif;
	margin: 0;
	padding: 0 0 0 3px;
	height: 22px;
} 
.textarea {
 border: 1px solid gray;
 color:             #333;
 font-family:       'lucida grande', verdana, tahoma, sans-serif;
 font-size:         11px;
 padding:           0;
 margin:        	0;
}
.select {
 background-color:  #fff;
 font-family:       'lucida grande', verdana, tahoma, sans-serif;
 font-size:         11px;
 font-weight:       normal;
 letter-spacing:    .1em;
 color:             #333;
 margin-top:        2px;
 margin-bottom:     2px;
} 
.multiselect {
 border-top:        1px solid #999999;
 border-left:       1px solid #999999;
 background-color:  #fff;
 color:             #333;
 font-family:       'lucida grande', verdana, tahoma, sans-serif;
 font-size:         11px;
 margin-top:        2px;
 margin-top:        2px;
} 
.radio {
 background-color:  transparent;
 margin-top:        4px;
 margin-bottom:     4px;
 padding:           0;
 border:            0;
}
.checkbox {
 background-color:  transparent;
 padding:           0;
 border:            0;
}
.buttons {
 font-family:       'lucida grande', verdana, tahoma, sans-serif;
 font-size:         11px;
 font-weight:       bold;
 border-top:		1px solid #9EA3D5;
 border-left:		1px solid #9EA3D5;
 border-right:		1px solid #000;
 border-bottom:		1px solid #000;
 letter-spacing:    .1em;
 margin:        	0;
 padding:			1px 5px 3px 5px;
 background-color:  #3F4471;
 color:             #fff;
 cursor: pointer;
}  



.submit {
	color: #fff;
	font-size: 1.5em;
	padding-right: .25em;
	padding-left: .25em;
	background-color: #41a3ec;
	border-top-color: #aadaff;
	border-bottom-color: #3285c4;
	border-right-color: #3285c4;
	border-left-color: #aadaff;
	font-family: 'lucida grande', verdana,sans-serif;
	text-transform: lowercase;
	margin-bottom: 7px;
	font-weight: bold;
	letter-spacing: -1px;
}
/*
    Error messages
------------------------------------------------------ */ 

.alert {
 font-family:       'lucida grande', verdana, tahoma, sans-serif;
 font-size:         11px;
 color:             red;
 font-weight:		bold;
}

.highlight {
 color:             red;
 font-weight: bold;
}

/*
    Page Footer
------------------------------------------------------ */ 
#footer {
 clear: 			both;
 text-align:        left;
 font-family:       'lucida grande', verdana, tahoma, sans-serif;
 color:             #999;
 line-height:       15px;
	margin: 50px 20px 15px;
}

#footer strong {
	display: block;
	font-size: 1em;
	color: black;
	line-height: 2;
}
/*
    Copyright notice
------------------------------------------------------ */ 
.copyright {
 text-align:        center;
 font-family:       'lucida grande', verdana, tahoma, sans-serif;
 font-size:         9px;
 color:             #999;
 margin-top:        15px;
 margin-bottom:     15px;
}

/*
    Formatting Buttons
------------------------------------------------------ */ 

.buttonMode {
 font-family:       'lucida grande', verdana, tahoma, sans-serif;
 font-size:         10px;
 color:             #73769D;
 background-color:  transparent; 
 white-space: 		nowrap;
}

.htmlButtonOuter, .htmlButtonOuterL {
 background-color:  #f6f6f6;  
 padding:           0;
 border-top:        #333 1px solid;
 border-right:      #333 1px solid;
 border-bottom:     #333 1px solid;
}
.htmlButtonOuterL  {
 border-left:       #333 1px solid;
}
.htmlButtonInner {
 background-color:  transparent; 
 text-align:		center;
 padding:			0 3px 0 3px;
 border-left:       #fff 1px solid;
 border-top:        #fff 1px solid;
 border-right:      #ccc 1px solid;
 border-bottom:     #ccc 1px solid;
}
.htmlButtonOff {
 font-family:       'lucida grande', verdana, Arial, Trebuchet MS, Tahoma, Sans-serif;
 font-size:         11px;
 font-weight:       bold;
 padding:           1px 2px 2px 2px;
 white-space:       nowrap;
}
.htmlButtonOff a:link { 
 color:             #000;
 text-decoration:   none;
 white-space:       nowrap;
}
.htmlButtonOff  a:visited { 
 text-decoration:   none;
}
.htmlButtonOff a:active { 
 text-decoration:   none;
 color:             #999;
}
.htmlButtonOff a:hover { 
 text-decoration:   none;
 color:             #999;
}
.htmlButtonOn {
 font-family:       'lucida grande', verdana, Arial, Trebuchet MS, Tahoma, 'lucida grande', verdana, Sans-serif;
 font-size:         11px;
 font-weight:       bold;
 background:        #f6f6f6;
 padding:           1px 2px 2px 2px;
 white-space:       nowrap;
}
.htmlButtonOn a:link { 
 color:             red;
 text-decoration:   none;
 white-space:       nowrap;
}  
.htmlButtonOn  a:visited { 
 text-decoration:   none;
} 
.htmlButtonOn a:active { 
 text-decoration:   none;
 color:             #999;
}
.htmlButtonOn a:hover { 
 color:             #999;
 text-decoration:   none;
}

/*
    SPELL CHECK CSS
--------------------------------------------------------------- */

.iframe { border:1px solid #6666CC;}

.wordSuggestion
{
	background-color: #f4f4f4; 
	border: 1px solid #ccc; 
	padding: 4px; 
}

.wordSuggestion a, .wordSuggestion a:active
{
	cursor: pointer;
}

.spellchecked_word
{
	cursor: pointer;
	background-color: #fff;
	border-bottom: 1px dashed #ff0000;
}

.spellchecked_word_selected
{
	cursor: pointer;
	background-color: #ADFF98;
}
