---
layout: default
---

<div id="main" class="home">

  <div class="content">
  
  {% capture current_year %}{{ site.time | date: "%Y" }}{% endcapture %}

  {% for post in paginator.posts %}
    <div class="article">
      <div class="article--header">
        {% if post.link %}
          <h2 class="link-post"><a href="{{ post.link }}"><i></i>{{ post.title }}</a></h2>
        {% else %}
          <h2 class="article-post"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
        {% endif %}
        {% capture year_of_post %}{{ post.date | date: "%Y" }}{% endcapture %}
        <a class="permalink" href="{{ post.url | prepend: site.baseurl }}"><span class="post-date">{{ post.date | date: "%B %-d" }}{% if year_of_post != current_year %}, {{ year_of_post }}{% endif %}</span></a>
      </div>
      <div class="article--body">
        {{ post.content }}
      </div>
    </div>
  {% endfor %}


  {% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Previous</a>
  {% else %}
    <span class="unavailable">Previous</span>
  {% endif %}
  <span class="numbers">
  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span class="current">{{ page }}</span>
    {% elsif page == 1 %}
      <a class="number" href="{{ '/' }}">{{ page }}</a>
    {% else %}
      <a class="number" href="/{{ site.paginate_path | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}
  </span>

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | replace: '//', '/' }}">Next</a>
  {% else %}
    <span class="unavailable">Next</span>
  {% endif %}
</div>
{% endif %}
  </div>



</div>