---
layout: default
---

<div id="main" class="home">

  <div class="content">

  {% for post in site.posts %}
    <div class="article">
      <div class="article--header">
        {% if post.link %}
          <h2 class="link-post"><a href="{{ post.link }}"><i></i>{{ post.title }}</a></h2>
        {% else %}
          <h2 class="article-post"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
        {% endif %}
        <a class="permalink" href="{{ post.url | prepend: site.baseurl }}"><span class="post-date">{{ post.date | date: "%B %-d" }}{% if site.time | date:"%Y" == "2013" %}HELLO[{% endif %}</span></a>
      </div>
      <div class="article--body">
        {{ post.content }}
      </div>
    </div>
  {% endfor %}

  </div>

</div>