<div id="header">
  <div class="wood">&nbsp;</div>

  <div class="content">

    <div class="name">
      <a href="/">
        <h1 class="name--text">
          <span class="fn">Andrew</span>
          <span class="ln">Shuttleworth</span>
        </h1>
      </a>
    </div>

    <div class="desc">
      <p class="desc--text">Formerly of Maine, presently of Brooklyn. I&nbsp;work for <a href="http://made.media/">Made Media</a>.</p>
    </div>

    <div class="social">
      <ul class="social--content">
        <li class="about">
          <a href="/about"><i></i>About + Contact</a>
        </li>
        <li class="twitter">
          <a href="https://twitter.com/intent/user?screen_name=ashuttl"><i></i>Follow @ashuttl</a>
        </li>
        <li class="rss">
          <a href="/feed.xml"><i></i>Subscribe to the Feed</a>
        </li>
      </ul>
    </div>

  </div>

</div>