---
layout: default
---
<div id="main" class="page">
  
  <div class="content">

    <div class="article">
      <div class="article--header">
        {% if page.link %}
          <h2 class="link-post"><a href="{{ page.link }}"><i></i>{{ page.title }}</a></h2>
        {% else %}
          <h2 class="article-post"><a href="{{ post.url | prepend: site.baseurl }}">{{ page.title }}</a></h2>
        {% endif %}
      </div>
      <div class="article--body">
        {{ content }}
      </div>
    </div>

  </div>

</div>