---
layout: default
---
<div id="main" class="post">
  
  <div class="content">

    {% capture current_year %}{{ site.time | date: "%Y" }}{% endcapture %}
    <div class="article">
      <div class="article--header">
        {% if page.link %}
          <h2 class="link-post"><a href="{{ page.link }}"><i></i>{{ page.title }}</a></h2>
        {% else %}
          <h2 class="article-post"><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h2>
        {% endif %}
        {% capture year_of_post %}{{ page.date | date: "%Y" }}{% endcapture %}
        <a class="permalink" href="{{ post.url | prepend: site.baseurl }}"><span class="post-date">{{ page.date | date: "%B %-d" }}{% if year_of_post != current_year %}, {{ year_of_post }}{% endif %}</span></a>
      </div>
      <div class="article--body">
        {{ content }}
      </div>
    </div>

  </div>

</div>